html{
    min-height: 100%;
    position: relative;
}
body{
    margin: auto;
    padding: 0%;
    background:whitesmoke;
}
header{
    float: left;
    color: black;
    background-color: black;
    font-family: 'Oswald', sans-serif;
    overflow: auto;
    color: white;
}
header img{
    width:120px ;
    height: 80px;
}
nav {
    background:#000000;
    margin:10px 0 0 0;
    padding:5px 0 0 50px;
    }
nav ul {
    margin:0;
    padding:0;
    list-style:none;
    border:#000;
    }
nav ul li {
    margin:0;
    padding:0;
    list-style:none;
    display:inline;
    }
nav ul li a {
    padding:10px;
    font-family: 'Oswald', sans-serif;
    text-decoration:none;
    color:#FFF;
    }
nav ul li a:hover {
    background:#FFF;
    color:#3e3a3a
    }
nav ul li a.active {
    background:#FFF;
    color:#3e3a3a
    }
.linea{
    clear: both;
}
#idioma{
    float: right;
}
#idioma ul {
    padding: 15px;
}
#idioma ul li{
    display: inline;
    padding-top: 7%;
}
#idioma img{
    width: 24px;
    height: 24px;
}
#imagen {
    clear: both;
    text-align: center;xº
}
footer{
    font-family: 'Oswald', sans-serif;
    background-color: black;
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 10px;
}
.cuerpo{
    width: 60%;
    text-align: center;
    margin: 0 auto;
}
.expositor{
    text-align: center;
    clear: both;
    margin-left: auto;
    margin-right: auto;
}
.zapatos{
    display: inline-table;
    text-align: center;
    padding: 10px;
    font-family: 'Oswald', sans-serif;
}
.zapatos a{
    color: black;
}
.imagenes_zapatos img{
    width: 320px;
    height: 240px;
}
.texto{
    text-align: justify;
    float:left;
    padding-left: 5%;
    width: 33% ;
    padding-top: 5%;
}
.imagen_info img{
    width: 40%;
    height: 80%;
    padding-left: 10%;
}