#div-gpt-ad-1533292681306-2 {
	height: 0px!important;
}
#div-gpt-ad-1393321029209-5 {
	height: 0px!important;
}
#div-gpt-ad-1393321029209-6 {
	height: 0px!important;	
}
#div-gpt-ad-1393321029209-2 {
	height: 0px!important;		
}
#div-gpt-ad-1393321029209-3 {
	height: 0px!important;		
}
#div-gpt-ad-1391706879895-0 {
	height: 0px!important;		
}
#div-gpt-ad-1391706879895-3 {
	height: 0px!important;	
}
#div-gpt-ad-1579602818832-0 {
	height: 0px!important;		
}
#div-gpt-ad-1533223516162-0 {
	height: 0px!important;			
}
#sc-skin-menzig.pub-top {
	margin-bottom: 1.5em !important;
}
#div-gpt-ad-1393321029209-4 {
	height: 0px;		
}
#div-gpt-ad-1426614847582-3 {
	height: 0px;
}
#div-gpt-ad-1391443672208-9 {
	height: 0px;	
}
#div-gpt-ad-1391443672208-6 {
	height: 0px;
	margin-bottom: 0px!important;	
}
#div-gpt-ad-1391706879895-15 {
	height: 0px;	
}
#div-gpt-ad-1415444887522-5 {
	height: 0px;	
}
#div-gpt-ad-1415444887522-2 {
	height: 0px;	
}
#div-gpt-ad-1415444887522-6 {
	height: 0px;	
}
#div-gpt-ad-1557579415764-0 {
	display: none;	
} 
#div-gpt-ad-1520257569396-4 {
	display: none;	
} 
#sc-mpu-btf.sc-mpu-btf {
	position: relative;
	margin-bottom: 8px;
}