/* /////////////////////////////////////////////////////// */
/* Aspectos generales */
/* /////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////// */
* {
    margin: 0;
    padding: 0;
  }
html{
    min-height: 100%;
    position: relative;
}
body{
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
    
}
.linea{
    clear: both;
}
/* /////////////////////////////////////////////////////// */
/* Cabecera y barra de navegación */
/* /////////////////////////////////////////////////////// */
header{
    float: left;
    color: black;
    background-color: black;
    font-family: 'Oswald', sans-serif;
    overflow: auto;
    color: white;
}
header img{
    width:120px ;
    height: 80px;
}
nav {
    background:#000000;
    margin:10px 0 0 0;
    padding:5px 0 0 50px;
    }
nav ul {
    margin:0;
    padding:0;
    list-style:none;
    border:#000;
    }
nav ul li {
    margin:0;
    padding:0;
    list-style:none;
    display:inline;
    }
nav ul li a {
    padding:10px;
    font-family: 'Oswald', sans-serif;
    text-decoration:none;
    color:white;
    }
nav ul li a:hover {
    background:white;
    color:#3e3a3a
    }
nav ul li a.active {
    background:white;
    color:#3e3a3a
    }
/* /////////////////////////////////////////////////////// */
/* Aside */
/* /////////////////////////////////////////////////////// */
aside{
    float: right;
}
aside ul {
    padding: 15px;
}
aside ul li{
    display: inline;
    padding-top: 7%;
}
aside img{
    width: 24px;
    height: 24px;
}
#imagen {
    clear: both;
    text-align: center;
}
/* /////////////////////////////////////////////////////// */
/* Contenido */
/* /////////////////////////////////////////////////////// */
.cuerpo{
    width: 60%;
    text-align: center;
    margin: 0 auto;
}
.expositor{
    text-align: center;
    clear: both;
    margin-left: auto;
    margin-right: auto;
}
.zapatos{
    display: inline-table;
    text-align: center;
    padding: 10px;
    font-family: 'Oswald', sans-serif;
}
.zapatos a{
    color: black;
}
.imagenes_zapatos img{
    width: 320px;
    height: 240px;
}
.texto{
    text-align: justify;
    float:left;
    padding-left: 5%;
    width: 33%;
    padding-top: 5%;
}
.imagen_info img{
    float: left;
    width: 480px;
    height: 360px;
    padding-left: 15%;
}
/* /////////////////////////////////////////////////////// */
/* Formulario */
/* /////////////////////////////////////////////////////// */
#form{
    width: 60%;
    float: left;
}
#form form{
    float: left;
    text-align: justify;
}
#img_form img{
    width: 80%;
}
#form p {
    padding: 5%;
}
#campos{
   padding-left:7%;
   

}
/* /////////////////////////////////////////////////////// */
/* Footer e información en el pie */
/* /////////////////////////////////////////////////////// */
footer{
    font-family: 'Oswald', sans-serif;
    background-color: black;
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 0.8em;
}
.datos{
    width: 30%;
    float: left;
}
.privacidad{
    width: 10%;
    float: right;
    padding-top: 3%;
}
.privacidad a {
    color: white;
    
}
.mapa{
    height: 100px;
    float: left;
    padding-top: 5px;
}
/* /////////////////////////////////////////////////////// */
/* Tabla */
/* /////////////////////////////////////////////////////// */
table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
.tabla h2{
    text-align: center;
}
th{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
}
td, th{
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
}
/* /////////////////////////////////////////////////////// */
/* Redes Sociales */
/* /////////////////////////////////////////////////////// */
.fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  .redes a img {
    width:24px;
    height:24px;
  }