#sc-brandday {
	width: 100% !important;
	height: 2px !important;
	max-height: 2px!important;
}

#sc-brandday div {
	display: none;
}

#div-gpt-ad-1534929339060-0 {
	width: 100% !important;
	height: 2px !important;
	max-height: 2px!important;
}

#div-gpt-ad-1534929339060-0 div {
	display: none;
}